
    body {
        margin: 0px;
       
        
    }
    .container {
        width: 100vw;
        height: 100vh;
        background: #420b58;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }
    .box {
        width: 330px;
        height: 330px;
        background: #fff;
        justify-content: space-around;
    }
    
    
    
    .margembox{
     margin: 20px 10px 10px 20px
    }
    
 textarea{
        margin: 20px 10px 0px 20px;
 }
 

-----------------------------------




.corfundo{
    color: #742365;
}

form{
    align-self: center;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .box {
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    }
    body {
    margin: 0px;
    }
